@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1f1f1f;
  color: #c9c9c9;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
}

button {
  cursor: pointer;
}